<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857131450044-1gsr3iapkas6of0cvfkpt8otimh7tb2c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857131450044-1gsr3iapkas6of0cvfkpt8otimh7tb2c</string>
	<key>API_KEY</key>
	<string>AIzaSyADgAA1SJhegsWJQHDh7WRsG1G4x0d_qBE</string>
	<key>GCM_SENDER_ID</key>
	<string>857131450044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirestoreFirebase</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codetsa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codetsa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857131450044:ios:33b1841657c1a430cbdab9</string>
</dict>
</plist>